*
{
    margin: 0%;
    padding: 0%;
}
body
{
    background-color: rgb(255, 255, 255);
}
.navsection
{
    margin-top: 20px;
   
   
}
.navigation
{
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
    background-color: bisque;
   
}

.orderli
{
    
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
li:hover{
    text-decoration: underline;
    color: dimgrey;
}
a:any-link
{
    text-decoration: none;
    color: black;
}

/* abt section   */
.abtsection
{
    margin-top: 20px;
    height: auto;
    /* background-color: black; */
    margin-left: 3%;
    margin-right:3% ;
}
.abtgrid
{
    display: grid;
    display: flex;
}
.magediv
{
    display: flex;
}
.myimage
{
    height: 200px;
    margin-left: 5%;
    box-shadow: 0px 2px 3px;
    border-radius: 5%;
}
.myimage:hover{
    box-shadow: 1px 4px 8px;
}
.mytext
{
    display: flex;
    margin-left: 5%;
    box-shadow: 0px 1px 1px;
    border-radius: 2%;
    padding-left: 3%;
    padding-right: 3%;
}
.mytext:hover{
    box-shadow: 1px 4px 8px;
}
.social
{
    margin-top: 5%;
}
h1
{
    margin-left: 20px;
    font-weight: 100;
}
.projects
{
    height: 100vh;
}
.pjcard
{
    
    height:340px;
    width:370px;
    margin-left: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 1px;
    border-radius: 5%;

  
}

.pjcard:hover 
{
    display: block;
    box-shadow: 0px 4px 9px;
   
   
}
.dropck 
{
display: none;
}
.pjcard:hover + .dropck
{
    display: block;
    margin-top: -300px;
   
  
}
.visitweb
{
    margin-top: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
      margin-left: auto;
      margin-right: auto;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    border-style: solid;
    border-color: black;
    color: black;
    width: 300px;

}
.visitweb:hover
{
    background-color: bisque;
color: white;

}
.projectgrid
{
   display:flex;
    width: auto;
   
}

/*    */
.contactme
{

    height: auto;
    margin-top: auto;
  
    width: auto;
    margin-bottom: 60px;
    background-color: bisque;

   
}
.social
{
    background-color: bisque;
}
/* .formdiv
{
   
 

 
} */

.bg_pjcard
{
   
    /* background-image: url(" /images/Arun N (3).png" );
    background-size: contain;
    background-repeat: no-repeat; */
    margin-left: 1%;
    margin-right:1% ;
    border-radius: 0%;
    justify-content: center;
    width: auto;
}
.gamessection
{
    margin-bottom: 50px;
}

.forms
{
background-color: bisque;
    width: 500px;
    height: 80vh;
    border-radius: 20px;
    box-shadow: 0px 4px 9px;
}
.contactmesec
{
    margin-top: 120px;
    height: 100vh;
}
#submitt:hover{
    background-color:blue;
    color: black;
}

@media only screen and (max-width:600px) 
{
    .abtgrid
{
    display: grid;
    display: flex;
   
}
    .mytext
{
    display: flex;
    margin-left: 5%;
    box-shadow: 0px 1px 1px;
    border-radius: 2%;
    padding-left: 3%;
    padding-right: 3%;
    
}
    .pjcard
    {
    
        height:300px;
        width:370px;
        margin-left: 2px;
        margin-top: 30px;
        box-shadow: 0px 1px 1px;
        border-radius: 5%;
 
      
    }  
    .projectgrid
{

  display:inline-block;
  align-items: center;
  justify-content: space-evenly;

   
}
.bg_pjcard
{
   
    background-image: url(" /images/Arun N (3).png" );
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 1%;
    margin-top: 1150px;
    margin-bottom: 20px;
    margin-right:1% ;
    border-radius: 0%;
    justify-content: center;
    width: auto;
  
}
.contactmesec
{
    margin-top: 1500px;
    display:block;
    align-items: center;
}

}
